<header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <div class="navbar-brand">{{ site.title }}</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/">Notice Board</a>
        <a class="nav-item nav-link" href="/repo/">Repository</a>
        <a class="nav-item nav-link" href="/about/">About</a>
      </div>
    </div>
  </nav>
</header>
