<div style="width:32.5%;" class="d-inline-block my-2">
  <a href="{{ file.path }}" data-toggle="modal" data-target="#{{ file.name }}"><img src="{{ file.path }}" class="img-fluid rounded" alt="Loading.."></a>
  <div class="modal fade" id="{{ file.name }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ file.name }}</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{ file.path }}" class="img-fluid rounded" alt="Loading.." style="width:100%;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{{ file.path }}" class="btn btn-outline-primary" download>Download Image</a>
        </div>
      </div>
    </div>
  </div>
  <figcaption class="figure-caption">{{ file.name }}</figcaption>
</div>
